* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
   
    font-family: Arial, Helvetica, sans-serif;

}

header {
    position:relative;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 100;
    background-color: #161010 !important;
    max-width: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.mb-4 {
    margin-bottom: 4px;
}

.mr-4 {
    margin-right: 4px
}

.ml-4 {
    margin-left: 4px;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.p-14 {
    padding: 14px;
}

.flex-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.logo {
    background-color: #ee2626;
    max-height: 300px;
    height: 100%;
    display: flex;
}

.logo-inner {
    align-items: center;
    padding: 15px 0;

}

.logo-item {
    width: 20%;
}

.logo-item img {
    max-width: 200px;
    width: 100%;
    margin-left: 10%;
}

.g-search>form {
    display: block;
    position: relative;

}

.g-search {
    width: 45%;
    border: none;
}

.input-box {
    text-align: center;
    border: none;
    padding: 0 20px;
}

.input-box input {
    padding: 10px 10px;
    background-color: #ccc;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;

}

.input-box input:focus {
    outline: 0;
    box-shadow: 0 0 0 1px #3a6dd2;
}

.input-box input:hover {
    border-color: #3a3535;
}

.input-box-search {
    position: absolute;

    width: 5%;
    padding: 10px 2px;
    border: none;
    border-radius: 0 6px 6px 0px;
    left: 91.6%;
    top: 0;


}

.home-page {
    width: 12%;
    display: flex;
    justify-content: center;
}

.home-page-inner {
    background-color: #ccc;
    padding: 10px;
    border-radius: 15px;
}

.home-page-inner a {
    color: #000;
    text-decoration: none;
}

.market {
    width: 8%;
    display: flex;
    justify-content: center;
}

.market a i {
    font-weight: bold !important;
    font-size: 30px;
    color: #ffffff;
}

.register {
    display: flex;
    width: 15%;
    justify-content: end;
}

.home-page-inner:hover,
.register-inner:hover,
.register-inner:hover a {
    background-color: rgb(36, 30, 30);
    color: #fff;
    transition: all .3s ease-in;

}

.home-page-inner:hover a {
    color: #fff;
    transition: all .3s ease-in;

}

.register-inner {
    justify-content: center;
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    background-color: #ccc;
}

.register a:hover {
    transition: all .3s ease-in;
    color: #fffefe;
}

.register>a {
    text-decoration: none;
    color: #000000;
    background-color: #cdcdcd;
}

.register-item a {
    background-color: #ccc;
    border-radius: 10px 0 0 10px;
    text-decoration: none;
    color: #000;
}

.register-login a {
    background-color: #ccc;
    border-radius: 0 10px 10px 0;
    text-decoration: none;
    color: #000;
}

.menu .item-product {
    color: #ffffff;
}

.nav {

    display: flex;
    line-height: 40px;
}

.menu {
    position: relative;
    width: calc(25%);
    text-align: center;
}

.nav .subnav {
    transition: all .3s ease;
    position: absolute;
    background-color: #ffffff;
    top: 60px;
    opacity: 0;
    width: 100%;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}


.nav,
.subnav {
    list-style-type: none;
}

.nav .menu:hover .subnav {
    color: #ccc;
    width: 100%;
    left: 0;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
}

.nav li a {
    color: black;
    display: inline-block;
    text-decoration: none;
}



.nav .nav-item:hover,
.nav>li:hover {
    background-color: #acacac;
    transition: all .2s ease-in;
}

/* =====breadcrum====== */
.row {

    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumb {
    min-height: 20px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

}

.breadcrumb-item:not(:first-child):before {
    padding-right: 5px;
    color: #ccc;
    content: "/";

}

.breadcrumb-item:last-child a {
    color: #000;
}

.breadcrumb-item:last-child a:hover:before {
    transform: scale(0);
}

.breadcrumb-item a:before {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #0168fa;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    transition: transform .5s ease, -webkit-transform .5s ease;
}

.breadcrumb-item a:hover:before {
    transform: scale(1);
}

.breadcrumb-item {
    position: relative;
}

.breadcrumb-item li {
    padding: 10px 0;
}

.breadcrumb-item a {
    color: #0275d8;
    text-decoration: none;
    position: relative;
    font-size: 18px;
}

/* ========slider+=============== */
/* ===========logo================= */
.section-hot {
    padding: 25px 0 0;
    margin-bottom: 24px;
}

.section-hot .section-title {
    font-family: 'ss-700';
    margin: 20px 0px;
    font-size: 34px;
    line-height: 100%;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.section-hot .hot-promotion-inner {
    display: flex;
}

.section-hot .promotion-main {
    width: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .20);

    border-radius: 16px;
    background: #fff;
    text-align: center;

}

.promotion-mini a,
.section-hot .promotion-main a {
    text-decoration: none;
    color: #000;

}

.promotion-text {
    max-width: 416px;
    width: 100%;
    margin: auto;
}

.section-hot .hot-promotion-title {
    font-family: 'ss-700';
    margin: auto;
    font-size: 24px;
    font-weight: 600;
    height: 60px;
    position: relative;
    overflow: hidden;
    line-height: 26px;
    z-index: 2;
    background: #fff;

}

.mini-product-content,
.section-hot .mini-product-title,
.section-hot .hot-promotion-content {
    margin-top: 0px;
    padding-top: 5px;
    font-size: 14px;
    color: #444b52;
    height: 50px;
    overflow: hidden;
    font-weight: 600;
    position: relative;
    opacity: 1;
    transition: all 0.35s ease;
}

.section-hot .mini-product-title {
    font-family: 'ss-700';
    font-size: 16px;
    color: #32373d;
    z-index: 1;
    background: #fff;

}

.mini-product-content {
    margin-top: 1px !important;
    font-weight: 500;
}

.section-hot .buy-now {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    max-width: 120px;
    width: 100%;
    margin: auto;
    font-weight: 600;
    border-radius: 20px;
    font-size: 16px;
    transition: all 0.35s ease;
    opacity: 0;

}

.promotion-mini-item img {
    max-width: 140px;
    max-height: 140px;
    margin-top: 5px;
}

.promotion-main img {
    margin-top: 10px;
    max-width: 350px;
    max-height: 350px;
}

.promotion-mini-item:hover .buy-now,
.promotion-main:hover .buy-now {
    margin-top: 8px;
    opacity: 1;
    transform: translateY(-50px);
}

.promotion-mini-item:hover .mini-product-content,
.promotion-main:hover .hot-promotion-content {
    opacity: 0;
    transform: translateY(-50px);
}

.promotion-mini-item:hover img {
    transform: scale(1.08);
    transition: all .3s ease;
}

.promotion-main:hover img {
    transform: scale(1.03);
    transition: all .3s ease;
}

.promotion-mini {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;

    width: 50%
}

.promotion-mini-item {
    width: calc(100% / 2 - 5px);
    height: 270px;
    background: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .20);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    overflow: hidden;

}

.promotion-mini-item:nth-child(2n-1) {
    margin-right: 10px;
}

/* ==============khuyến mãi============= */

.container .section-tabs {
    margin-bottom: 24px;
    margin-top: 10px;

}

.section-tabs .chapter-tabs {
    padding: 25px 0 0;
}

.section-tabs .chapter-title {
    font-size: 34px;
    line-height: 100%;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding-bottom: 15px;
    font-family: 'ss-700';
}

.section-tabs .chapter-list {
    display: flex;
    padding: 20px 30px;
    gap: 45px;
}

.section-tabs .chapter {
    width: 100%;
    max-width: 195px;

}

.section-tabs .card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .20);
    border-radius: 15px;
}

.section-tabs .chapter a {
    text-decoration: none;
}

.section-tabs .chapter.active {
    position: relative;
    order: -1;
    display: block;
}

.section-tabs .chapter.active .chapter-img {
    background: #212529;
    border: none;
}

.chapter-img {
    max-width: 110px;
    width: 100%;
    height: 100%;
    max-height: 110px;
    padding: 25px;
    margin: 0 auto 23px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-tabs .chapter.active i {
    color: #fff;
}

.section-tabs .chapter i {
    font-size: 60px;
    color: #000;
    display: inline-flex;
}

.section-tabs .chapter .ic-galaxy-buds {
    font-size: 30px;
}

.chapter.active .push {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #212529;
}

.section-tabs .chapter-label {
    font-family: 'ss-300';
    font-size: 16px;
    line-height: 24px;
    padding: 0 4px;
    color: #444b52;
    text-align: center;
}

.section-tabs .chapter:hover .chapter-label {
    font-weight: 700;
}

.section-tabs .chapter:hover .chapter-img {
    background: #000;
    transition: all 0.6s ease 0s;
}

.section-tabs .chapter:hover .chapter-img>i {
    color: rgb(255, 255, 255);
}

.section-tabs .chapter a:hover {
    text-decoration: none;
}



/* ==============Filterr================= */
/* .slider .coll-3{
    width: 25%;
} */

.filter{
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    max-height: 660px;
}
.cdt-filter{
    padding: 12px;
}
.cdt-filter_title{
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
}
.checkbox{
    display: flex;
    flex-wrap: wrap;
}
.checkItem{
    width: 100%;
    display: flex;
}
.checkInput_price{
    margin-right: 12px;
}
.checkInput_brand{
    margin-right: 12px;
}

.checkInput_price .checkInput_brand{
    
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #97a3b9;
    background-color: #fff;
    margin:4px 10px 0 0;
}



/* =================sản phẩm================= */
.cart-product-img {
    text-align: center;
    position: relative;
}

.cart-product-label {
    font-weight: 550;
    color: #fff;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: baseline;
    margin-left: 10px;
    margin-bottom: 10px;
}

.badge-warning {
    background-color: #ffae0d;
    padding: 3px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.badge-primary {
    background-color: #ff0000;
    padding: 3px;
    border-radius: 8px;
}

.cart-img {
    max-width: 205px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    max-height: 230px;
}

.cart-img:hover {
    transform: scale(1.1);
    transition: all .5s ease-out
}

.p-t-4 {
    padding-top: 4px;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.cart-product {
    margin: 4px 12px 18px 12px;
    background: #f8f9fa;
    position: relative;
}

.cart-item {
    background: #fff;
    width: calc(100% / 3 - 7px);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 15px;
    margin-left: 7px;
    margin-bottom: 10px;
    position: relative;
}

.cart-item:hover {
    z-index: 1;
}

.cart-item:hover .cart-product a {
    color: #3f7fff;
    transition: all .3s;
}

.cart-item:before {
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.cart-item .cart-product h3 {
    width: 100%;
    text-align: center;
}

.cart-item .cart-product a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-family: "ss-700";
}

.cart-item .cart-product a:hover {
    color: #004ee9;
    transition: all .2s;
}

.cart-item:nth-child(4n+ 4) {
    margin-right: 0px;
}


.cart-item .circle-color {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 8px;
    justify-content: center;
}

.cart-item .circle-item {
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
    margin: 0 5px;
    border-radius: 50%;
    border: 1px solid #000;
}

.cart-item .tittle {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0;

}

.section-tabs .circle-color {
    margin-top: 12px;
    margin-bottom: 8px;
}

.cart-item .cart-price {
    color: #111010;
    font-size: 20px;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#btn-loadmore{
    display: block;
    padding: 10px 30px;
}
.cart-item .price-sale {
    color: #fff;
    display: block;
    font-weight: 600;
    background-color: red;
    padding: 6px 10px;
    padding-right: 6px;
    border-radius: 15px;
}

.cart-item .price-strike {
    font-size: 18px;
    color: #919191;
    margin-top: 4px;
}

.cart-item .cart-img {
    margin: 0 auto;
    display: block;
}

.cart-item .item-name {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 4px;
}

.cart-item .cart-memory {
    display: flex;
    justify-content: center;
    box-shadow: inset 0 1px 3px #dfdfeb;
    border-radius: 20px;
    padding: 5px 0;
    gap: 30px;

}

.cart-item .cart-memory-item,
.cart-item .cart-memory-item-active {
    background-color: #ffffff;
    color: #000;
    font-size: 18px;
    padding: 5px 12px;
    border: none;
    border-radius: 10px;
}

.cart-item .cart-memory-item:hover,
.cart-item .cart-memory-item-active:hover {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    color: #fff;
    background: #030000;
    box-shadow: 0 1px 4px rgba(10, 10, 10, .15);
    transition: all .3s ease-in-out;
    transform: scale(1.1);
}

.cart-item .cart-btn {
    display: flex;
    width: calc(100% - 30px);
    margin: 0px auto;
    gap: 20px;
    opacity: 0;
    justify-content: center;
    height: 0;
    transition: all .3s;
    visibility: visible;
    max-height: 40px;
    height: 100%;
    position: relative;
    animation: all 0.7s ease-out;
}

.cart-item .btn-compare a,
.cart-item .btn-buynow a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    width: 100px !important;
}

.cart-item .btn-compare a {
    color: #000;

}

.cart-item .btn-buynow {
    padding: 5px 10px;
    background: #000;
    border-radius: 100px;
    border: 1px solid #000;

}

.cart-item .btn-compare {
    padding: 5px 10px;
    border-radius: 100px;
    border: 1px solid #000;

}

.cart-item:hover .cart-btn {
    opacity: 1;
}

.cart-item:hover:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: calc(100% + 30px);
    background: #fff;
    border-radius: 12px;
    border: solid 1px #dee2e6;
    -webkit-box-shadow: 0 0 2px 0 #dee2e6;
    box-shadow: 0px 1px 4px rgba(10, 10, 10, 0.15);
    opacity: 1;
}

/* ===========pocity========== */
.container .pocity {
    padding-bottom: 10px;
}

.pocity-row {
    margin: 24px 0;
    display: flex;
    flex-wrap: wrap;
}

.pocity-item {
    width: calc(100% /4);
    text-align: center;
}

.pocity .pocity-inner {

    padding: 20px 35px 16px 35px;
}

.pocity .pocity-picture {
    margin-bottom: 20px;
}

.pocity .pocity-picture img {
    max-width: 90px;
    max-height: 90px;
}

.pocity .pocity-inf {
    padding: 5px 0;

}

.pocity .pocity-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.pocity .pocity-mess {
    max-width: 173px;
    text-align: center;
    margin: auto;
    font-size: 18px;
    color: #6A737A;
}

/* =================== */
.footer {
    background-color: #ccc;

}

.footer .footer-contact {
    display: flex;
    padding: 25px 0 15px;
}

.footer .contact-item {
    padding: 0 12px;
    width: 25%;
}

.footer .contact-item ul {
    padding-left: 0;
    min-height: 210px;
}



.footer .contact-item li a {
    text-decoration: none;
    color: #004ee9;
    font-size: 14px;
}

.footer .contact-item .trtit {
    margin: 0;
    font-size: 14px;
}

.footer .contact-item .ftr2 p {
    color: red;
    font-weight: 500;
    font-size: 18px;
}

.footer .contact-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer .contact-icon .icon-item {
    margin-right: 2px;
}

.footer .contact-icon .icon-item .cth1 {
    max-width: 40px;
}

.footer .contact-icon .icon-item .cth2 {
    max-width: 132px;
}

.footer .contact-icon .icon-item .cth3 {
    max-width: 56px;
}

.footer .contact-item li a:hover {
    color: #a6a6e9;
}

.footer .support-pay {
    display: flex;

}

.footer .pay-item {
    margin-right: 2px;
}

.footer .support-pay img {
    max-width: 46px;
}

.fixed-sidebar {
    position: sticky;
    top: 15px;
    float: left;
}

.trending-searches {
    display: none;
    position: absolute;
    margin-top: 6px;
    background-color: #c6c6c6;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: 550px;
    z-index: 1000;

}

.trending-searches h3 {
    padding: 8px 0 5px 8px;
    text-align: start;
}

.input-box {

    position: relative;
}

.input-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.input-box li {
    border-radius: 3px;
    text-align: start;
    padding: 8px;
    cursor: pointer;
}

.input-box a {
    color: #000;
    text-decoration: none;
}
.count-cart {
    padding: 2px;
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
}
.input-box li:hover {
    background-color: #dfdede;
}
@keyframes scroll_amini {
    from {
        bottom: 60px;
    }

    to {
        bottom: 80px;
    }
}

#myBtn {
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 111;
    cursor: pointer;
    text-align: center;
    transform: rotate(90deg);
    background: #ee2626;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform: capitalize;
    padding: 5px 15px 7px 15px;
    border-radius: 30px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    animation: scroll_amini linear 2s infinite alternate;
    -webkit-animation: scroll_amini linear 2s infinite alternate;

}

#myBtn:hover {
    background-color: #555;
}

@media only screen and (max-width: 992px) {
    .col-mb3 {
        width: calc(100% / 4) !important;
    }

    .cart-item:nth-child(2n) {
        margin-right: auto;
        margin-left: auto;
    }

    .home-page {
        display: none;
    }

    .nav {
        display: none;
    }

    .cart-price {
        flex-direction: column;
    }

    .price-strike {
        text-align: center;
    }

    .logo-item img {
        width: 70px;
    }

    .input-box input[type='text'] {
        font-size: 10px;
    }

    .input-box-search {
        padding: 6px 13px;
        padding-left: 6px;
        padding-right: 18px;

        margin-left: 0px;
        left: 79%;
        font-size: 16px;

    }

    .market a i {
        font-size: 20px;
    }

    .register {
        width: 30%;
    }

    .register-inner {

        font-size: 10px;
        padding: 8px 3px;
    }


    .g-search {
        width: 35%;

    }

    /* .text-primary .btn-outline-success:hover{
        background-color: red;
        color: #fff;
    } */

    .menu {
        line-height: 30px;
        width: calc(100% / 5 - 5px) !important;


    }

    .cate-box .picture {
        max-width: 50px;
        width: 100%;
        max-height: 50px;
        height: 100%;
    }

    .cate-box .picture img {
        max-width: 45px;
    }

    .cate-box .cate-item-name {
        font-size: 12px;

    }

    .price {
        flex-direction: column;
    }

    /* ============================ */

    .promotion-main {
        width: 100% !important;
        margin-bottom: 20px;


    }

    .section-hot .promotion-main a {
        display: flex;
    }

    .section-hot .buy-now {
        display: none;
    }

    .promotion-text {
        margin-top: 30px;
    }

    .promotion-mini {
        width: 100% !important;
        margin: 0;
    }

    .promotion-mini-item {
        margin-bottom: 20px;
        height: 250px;
    }

    .hot-promotion-inner {
        flex-direction: column;
    }

    .promotion-text .hot-promotion-title {
        font-size: 12px;
        padding: 0 10px;
    }

    .hot-promotion-content p {
        font-size: 12px;
    }

    .section-hot .mini-product-title {
        font-size: 12px;
    }

    .mini-product-content p {
        font-size: 10px;
    }

    .promotion-main a img {
        max-width: 150px;
    }

    .section-tabs .chapter-list {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
    }

    .section-hot .section-title {
        font-size: 22px;
    }

    /* =================================== */

    .cart-item {
        width: calc(100% / 2 - 7px);
    }

    /* =================== */
    .pocity-item {

        width: calc(100% / 2);
    }


}

@media only screen and (max-width: 576px) {

    .logo-inner {
        padding: 10px 0px
    }

    .promotion-mini-item img {
        max-width: 114px;
    }

    .cart-img {
        max-width: 180px;
    }

    .cart-item .cart-product a {
        font-size: 14px;
    }

    .cart-item .price-sale {
        font-size: 14px;
        margin-bottom: 5px;
        text-align: center;
        font-weight: 600;
    }

    .cart-item .price-strike {
        margin-left: 3px;
        font-size: 14px;
    }

    .cart-item .cart-memory {
        gap: 0;
        justify-content: space-around;
    }

    .cart-item .cart-memory-item,
    .cart-item .cart-memory-item-active {
        font-size: 13px;
    }


    /* ======================================== */
    .section-tabs .chapter-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px 5px;
        gap: 0;
    }

    .card-body {
        padding: 0;
    }

    .section-tabs .chapter.active {
        box-shadow: 0px 1px 4px rgba(10, 10, 10, 0.15);
        display: flex;
        background-color: #000;

    }

    .section-tabs .chapter.active .chapter-img {
        background: none;
    }

    .chapter.active .push {
        color: #fff;
        font-size: 12px;
    }

    .section-tabs .chapter i {
        font-size: 28px;
        color: #21252994;
    }

    .chapter-img {
        padding: 25px 12px;
        border: none;
        width: fit-content;
        margin: 0px;
        max-width: 55px;
        justify-content: start !important;
    }

    .section-tabs .chapter {
        display: flex;
        align-items: center;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        max-height: 55px;
        height: 100%;
        border-radius: 5px;
        width: calc(100% / 2 - 4px);
        margin: 0 0 10px 0;
    }

    .section-tabs .chapter .ic-galaxy-buds {
        font-size: 18px;
    }

    .section-tabs .chapter-label {
        font-weight: 600;
        font-size: 11px;
    }

    .section-tabs .chapter-title {
        text-align: start;
        padding-left: 30px;
        font-size: 25px;
    }

    .pocity-item {

        width: calc(100% / 2);
    }

    .pocity .pocity-inner {
        padding: 0;
    }

    .badge-primary,
    .badge-warning {
        font-size: 11px;
    }

    /* ====================== */
    .pocity .pocity-picture {
        margin: 0;
    }

    .pocity .pocity-picture img {
        max-width: 64px;
        max-height: 64px;
    }

    .pocity .pocity-title {
        font-family: "ss-700";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 142%;
        color: #32373d;
        margin-bottom: 0;
    }

    .pocity .pocity-mess {
        font-family: "ss-700";
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 142%;
        color: #6a737a;
    }
    .cart-item .btn-compare a, .cart-item .btn-buynow a{
        font-size: 12px;
    }

    .cart-item .cart-btn
    {
       
    }
    /* ============== */
    .footer .contact-item ul a {
        font-size: 12px;
    }

    .footer .contact-item .ftr2 p {
        font-size: 13px;
    }

    .footer .contact-item ul {
        display: flex !important;
        flex-wrap: wrap;
        min-height: 20px;
    }

    .footer .contact-item ul li {
        width: 50%;
    }

    .footer .contact-item {
        width: 100%;
    }
    .footer .contact-item .trtit,
    .nav li {
        
    }
    .footer .contact-icon .icon-item {
        margin: 0;
        width: 50%;
        padding-bottom: 2px;
    }
    .footer-contact {
        display: table !important;
    }

    .footer .pay-item {
        width: 50%;
        margin: 0;
    }

    .contact-title {
        text-align: center;
        padding-bottom: 5px;
        font-weight: 700;
        color: red;
    }
    .section-tabs .chapter:hover .chapter-img{
        
    }
}