* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 100;
    background-color: #161010;
    max-width: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mr-4 {
    margin-right: 4px
}

.ml-4 {
    margin-left: 4px;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.p-14 {
    padding: 14px;
}

.flex-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.logo {
    background-color: #ee2626;
    max-height: 300px;
    height: 100%;
    display: flex;
}

.logo-inner {
    align-items: center;
}

.logo-item {
    width: 20%;
}

.logo-item img {
    max-width: 200px;
    width: 100%;
    margin-left: 10%;
}

.g-search>form {
    display: block;
    position: relative;

}

.g-search {
    width: 45%;
    border: none;
}

.input-box {
    text-align: center;
    border: none;
    padding: 0 20px;
}

.input-box input {
    padding: 10px 10px;
    background-color: #ccc;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;

}

.input-box input:focus {
    outline: 0;
    box-shadow: 0 0 0 1px #3a6dd2;
}

.input-box input:hover {
    border-color: #3a3535;
}

.input-box-search {
    position: absolute;
    width: auto;
    width: 5%;
    padding: 10px 2px;
    border: none;
    border-radius: 0 6px 6px 0px;
    left: 91.6%;
    top: 0;


}

.home-page {
    width: 12%;
    display: flex;
    justify-content: center;
}

.home-page-inner {
    background-color: #ccc;
    padding: 10px;
    border-radius: 15px;
}

.home-page-inner a {
    color: #000;
    text-decoration: none;
}

.market {
    width: 8%;
    display: flex;
    justify-content: center;
}

.market a i {
    font-weight: bold !important;
    font-size: 30px;
    color: #ffffff;
}

.register {
    display: flex;
    width: 15%;
    justify-content: end;
}

.home-page-inner:hover,
.home-page-inner:hover a,
.register-inner:hover,
.register-inner:hover a {
    background-color: rgb(36, 30, 30);
    color: #fff;
    transition: all .3s ease-in;

}

.register-inner {
    justify-content: center;
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    background-color: #ccc;
}

.register a:hover {
    transition: all .3s ease-in;
    color: #fffefe;
}

.register>a {
    text-decoration: none;
    color: #000000;
    background-color: #cdcdcd;
}

.register-item a {
    background-color: #ccc;
    border-radius: 10px 0 0 10px;
    text-decoration: none;
    color: #000;
}

.register-login a {
    background-color: #ccc;
    border-radius: 0 10px 10px 0;
    text-decoration: none;
    color: #000;
}

.menu .item-product {
    color: #ffffff;
}

.nav {
    display: flex;
    line-height: 10px;
}

.menu {
    position: relative;
    width: calc(20%);
    text-align: center;
}

.nav .subnav {
    transition: all .3s ease;
    position: absolute;
    background-color: #ffffff;
    top: 65px;
    opacity: 0;
    width: 100%;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.nav,
.subnav {
    list-style-type: none;
}

.nav .menu:hover .subnav {
    color: #ccc;
    width: 100%;
    left: 0;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
}

.nav li a {
    color: black;
    display: inline-block;
    text-decoration: none;
}


.nav .nav-item:hover,
.nav>li:hover {
    background-color: #acacac;
    transition: all .2s ease-in;
}



/* ========login== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.slider {
    max-width: 1200px;
    margin: 20px auto;
    width: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: auto;
   
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 12px;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none !important;
    margin: 15px 0;
}

.button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.button:active {
    transform: scale(0.95);
}

.button:focus {
    outline: none;
}

.button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.from-action {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.login {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.login.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.login.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {

    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.login.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.login.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.login.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.login.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container {
    margin: 20px 0;
}
.social-container a:hover{
    background: rgb(232, 34, 34);
    transition: all .4s ease-in-out;
    
}
.social-container a:hover i{
    color: #fff;
    transition: all .4s ease-in-out;
}
.social-container  a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
@media only screen and (max-width: 576px) {

    .col-mb3 {
        width: calc(100% / 4) !important;
    }

    .home-page {
        display: none;
    }

    .nav {
        display: none;
    }

    .logo-item img {
        width: 70px;
    }

    .input-box input[type='text'] {
        font-size: 10px;
    }

    .input-box-search {
        display: none;
        padding: 6px 13px;
        padding-left: 6px;
        padding-right: 18px;

        margin-left: 0px;
        left: 79%;
        font-size: 16px;

    }

    .market a i {
        font-size: 20px;
    }

    .register {
        width: 30%;
    }

    .register-inner {

        font-size: 10px;
        padding: 8px 3px;
    }

    .g-search {
        width: 35%;

    }

    .menu {
        line-height: 30px;
        width: calc(100% / 5 - 5px) !important;


    }
    .register-login a{
        font-size: 12px;
    }
    h2{
        font-size: 14px;
    }
    h1{
        font-size: 13px;
    }
    .social-container{
        display: flex;
    }.overlay-panel,
    .from-action
    {
        padding: 0 12px;
    }
    .button{
        padding: 10px 20px;
    }
}