* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 100;
    background-color: #161010 !important;
    max-width: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.mb-4 {
    margin-bottom: 4px;
}

.mr-4 {
    margin-right: 4px
}

.ml-4 {
    margin-left: 4px;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.p-14 {
    padding: 14px;
}

.flex-center {
    justify-content: center;
}

.flex {
    display: flex;
}

.logo {
    background-color: #ee2626;
    max-height: 300px;
    height: 100%;
    display: flex;
}

.logo-inner {
    align-items: center;
    padding: 15px 0;

}

.logo-item {
    width: 20%;
}

.logo-item img {
    max-width: 200px;
    width: 100%;
    margin-left: 10%;
}

.g-search>form {
    display: block;
    position: relative;

}

.g-search {
    width: 45%;
    border: none;
}

.input-box {
    text-align: center;
    border: none;
    padding: 0 20px;
}

.input-box input {
    padding: 10px 10px;
    background-color: #ccc;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 6px;

}

.input-box input:focus {
    outline: 0;
    box-shadow: 0 0 0 1px #3a6dd2;
}

.input-box input:hover {
    border-color: #3a3535;
}

.input-box-search {
    position: absolute;

    width: 5%;
    padding: 10px 2px;
    border: none;
    border-radius: 0 6px 6px 0px;
    left: 91.6%;
    top: 0;


}

.home-page {
    width: 12%;
    display: flex;
    justify-content: center;
}

.home-page-inner {
    background-color: #ccc;
    padding: 10px;
    border-radius: 15px;
}

.home-page-inner a {
    color: #000;
    text-decoration: none;
}

.market {
    width: 8%;
    display: flex;
    justify-content: center;
}

.market a i {
    font-weight: bold !important;
    font-size: 30px;
    color: #ffffff;
}

.register {
    display: flex;
    width: 15%;
    justify-content: end;
}

.home-page-inner:hover,
.register-inner:hover,
.register-inner:hover a {
    background-color: rgb(36, 30, 30);
    color: #fff;
    transition: all .3s ease-in;

}

.home-page-inner:hover a {
    color: #fff;
    transition: all .3s ease-in;

}

.register-inner {
    justify-content: center;
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    background-color: #ccc;
}

.register a:hover {
    transition: all .3s ease-in;
    color: #fffefe;
}

.register>a {
    text-decoration: none;
    color: #000000;
    background-color: #cdcdcd;
}

.register-item a {
    background-color: #ccc;
    border-radius: 10px 0 0 10px;
    text-decoration: none;
    color: #000;
}

.register-login a {
    background-color: #ccc;
    border-radius: 0 10px 10px 0;
    text-decoration: none;
    color: #000;
}

.menu .item-product {
    color: #ffffff;
}

.nav {
    display: flex;
    line-height: 40px;
}

.menu {
    position: relative;
    width: calc(20%);
    text-align: center;
}

.nav .subnav {
    transition: all .3s ease;
    position: absolute;
    background-color: #ffffff;
    top: 60px;
    opacity: 0;
    width: 100%;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.nav,
.subnav {
    list-style-type: none;
}

.nav .menu:hover .subnav {
    color: #ccc;
    width: 100%;
    left: 0;
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translateY(-20px);
}

.nav li a {
    color: black;
    display: inline-block;
    text-decoration: none;
}


.nav .nav-item:hover,
.nav>li:hover {
    background-color: #acacac;
    transition: all .2s ease-in;
}

/* =================== sản phẩm khuyến mãi=========== */
.container .section-tabs {
    margin-bottom: 24px;

}

.section-tabs .chapter-tabs {
    padding: 25px 0 0;
}

.section-tabs .chapter-title {
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding-bottom: 15px;
}

.section-tabs .chapter-list {
    display: flex;
    padding: 20px 30px;
    gap: 32px;
}

.section-tabs .chapter {
    width: 100%;
}

.section-tabs .circle-color {
    display: flex;
}







/* ===================Cate- box================= */
.cate-box {

    margin-top: 10px;
    box-shadow: 0 0 3px 0 #d4d7d9;
}

.cate-box .row-flex {
    display: flex;
    flex-wrap: wrap;
}

.cate-box .col6-no:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .20);
    transition: all .2s ease-in;
}

.cate-box .col6-no {
    display: block;
    width: calc(100% / 6);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cate-box .cate-item {
    text-align: center;
    padding: 15px 15px;
    width: 100%;
}

.cate-box .picture {


    width: 95px;
    height: 95px;
    display: inline-flex;
    border-radius: 50%;
    background-color: #dbdada;
}

.cate-box .cate-a {
    text-decoration: none;
    color: #000;
    display: block;
    height: 100%;
}

.cate-box .cate-item:hover img {
    transform: scale(1.2);
    transition: all .2s ease-in;

}

.cate-box img {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-width: 60px;
    max-height: 60px;
}

.cate-box .cate-item-name {
    text-decoration: none;
}

.cart-item .cart-btn {
    display: flex;
    width: calc(100% - 30px);
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
    opacity: 0;
    height: 0;
    transition: all .3s;
    visibility: visible;
    max-height: 40px;
    height: 100%;
    position: relative;
    animation: all 0.7s ease-out;
}

.cart-item:hover .cart-btn {
    opacity: 1;
}

.cart-item .btn-buynow {
    padding: 5px 28px;
    background: #ff0000;
    border-radius: 100px;
    border: 0.5px solid #dbdbdb;

}

.cart-item .btn-compare a,
.cart-item .btn-buynow a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    color: #fff;
}

.cart-item .btn-compare a {
    color: #000;

}

.cart-item .btn-compare {
    padding: 5px 28px;
    border-radius: 100px;
    border: 1px solid #000;

}

/* ===================== */
.category-container .prd-sale {
    padding: 10px 0px;
    border-radius: 6px;
    box-shadow: 0 0 3px 0 #d2d4d5;
    margin-bottom: 24px;

}

.category-container .prd-top {
    margin-bottom: 18px;
    padding-left: 15px;
}

.prd-sale .tittle {
    font-size: 24px;
    text-transform: uppercase;

    color: #cd1817;
}

.prd-sale .tittle h2 {
    font-weight: 700;
    text-align: center;

}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;

    box-sizing: content-box;
}

.swiper-slide {
    width: calc(100% / 3 - 7px);
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 296px;
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-product {
    padding: 12px;
    height: 100%;

}

.swiper-slide:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}

.swiper-slide:hover .swiper-img {
    transform: scale(1.03);
}

.nth:last-child {

    margin-right: 0px;

}


.swiper-img {
    background-image: url(./img/638182362845204208_frame-cate-270x210.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    transition: all .3s;


}

.prd-sale .swiper-img img {
    position: relative;
    z-index: -1;
    max-width: 168px;
    width: 100%;
    display: block;
    margin: auto;
    transform: scale(.8);
    padding-top: 20px;
}

.swiper-product_img-promo .swiper-product_text {
    position: absolute;
    width: 100%;
    font-size: 13px;
    top: 90%;
    font-weight: 400;
    line-height: 1.31;
    color: #555;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swiper-product_img-promo {
    display: flex;
    padding-bottom: 40px;
}

.logo-tpbank {
    width: 45px;
    height: 45px;
    transition: all .2s ease-in;
    margin-right: 4px;
}

.logo-tpbank:hover {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 1px #dee2e6;
}

.logo-kenovo {
    width: 45px;
    height: 45px;
    transition: all .2s ease-in;
}

.logo-kenovo:hover {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 1px #dee2e6;

}

.swiper-product_config {
    margin-top: 8px;
    background: #f8f9fa;
    padding: 9px 10px 0;
    border-radius: 6px;
    margin-bottom: 10px;
}

/* =======banner======== */
.banner {
    padding-bottom: 24px;
}

.banner .picture {
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px 0 #dee2e6;
    box-shadow: 0 0 3px 0 #dee2e6;

}

.banner img {
    vertical-align: middle;
    width: 100%;
}


/* ==================sản phẩm=================== */
.rating {
    fill: #f59e0b;
    display: flex;
    padding-bottom: 4px;
    padding-left: 4px;

}

.cart-product-img {
    text-align: center;
    position: relative;
    z-index: 2;
}

.cart-product-label {
    font-weight: 550;
    color: #fff;
    left: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    align-items: baseline;
    bottom: 20px;
}

.badge-warning {
    background-color: #ffae0d;
    padding: 3px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.badge-primary {
    background-color: #ff0000;
    padding: 3px;
    border-radius: 8px;
}

.cart-img {
    max-width: 205px;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    max-height: 205px;
}

.cart-img:hover {
    transform: scale(1.1);
    transition: all .5s ease-out
}

.p-t-4 {
    padding-top: 4px;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

.cart-product {
    margin: 4px 12px 18px 12px;
    background: #f8f9fa;
    position: relative;
    z-index: 1;

}

.icon {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cart-product span i {
    margin-right: 5px;
}

.cart-product span {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    line-height: 10px;
    color: #6c757d;
    margin-bottom: 9px;
}

.cart-item {

    width: calc(100% / 3 - 7px);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 10%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    border-radius: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

.cart-item:nth-child(3n+ 3) {
    margin-right: 0px;

}

.cart-item:hover {
    z-index: 1;
}

.cart-item:hover .cart-product a {
    color: #3f7fff;
    transition: all .3s;
}

.cart-item:before {
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.cart-item .tittle {
    font-size: 12px;
    font-weight: 600;
    padding: 10px 0;

}

.cart-item:hover:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    height: calc(100% + 30px);
    border-radius: 12px;
    border: solid 1px #dee2e6;
    -webkit-box-shadow: 0 0 2px 0 #dee2e6;
    box-shadow: 0px 1px 4px rgba(10, 10, 10, 0.15);
    opacity: 1;
}

.swiper-slide .price {
    color: #111010;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 4px;
    padding-left: 4px;
    display: flex;
    justify-content: space-between;
    margin: 4px;
    align-items: center;
}

.cart-item .price {
    color: #111010;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 4px;
    padding-left: 4px;
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: space-between;
    margin: 4px;
    align-items: center;
}

.swiper-slide .price-sale,
.cart-item .price-sale {
    color: #fff;
    display: block;
    background-color: red;
    padding: 4px 10px;
    padding-right: 6px;
    border-radius: 15px;
}

.swiper-slide .price-strike,
.cart-item .price-strike {
    font-size: 14px;
    color: #919191;
}

.cart-item .cart-img {
    margin: 0 auto;
    display: block;
}

.swiper-slide .item-name {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 4px;
}

.cart-item .item-name {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 4px;
    position: relative;
    z-index: 2;

}

/* ===========pay=========== */
.service,
.discount {
    margin-bottom: 24px;
    padding: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .20);
    border-radius: 16px;
}

.service .tittle,
.discount .tittle {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
}

.discount .discount-swiper {
    display: flex;
    justify-content: space-between;
}

.discount .discount-slide img {
    border-radius: 5px;
}

.service .service-list {
    display: flex;
    justify-content: space-between;
}

.service .service-list a {
    text-decoration: none;
}

.service .service-item:first-child {
    background-color: #f0fff4;
    border: 1px solid #c6f6d5;
}

.service .service-item:nth-child(2) {
    background-color: #fefae8;
    border: 1px solid #fdf1ba;
}

.service .service-item:nth-child(3) {
    background-color: #ebf8ff;
    border: 1px solid #bee3f8;
}

.service .service-item:last-child {
    background-color: #ffebeb;
    border: 1px solid #f9c7c9;
    margin-right: 0;
}

.service .service-item {
    width: calc(100% / 4 - 15px);
    padding: 12px;
    margin-right: 15px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    border-radius: 6px;
}

.service .item-img {
    margin-right: 12px;
}

.service .item-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #444b52;
}

.service .item-text {
    margin-top: 2px;
    font-size: 16px;
    line-height: 24px;
    color: #444b52;
    max-width: 200px;
}

.fs-bxh {
    padding-bottom: 15px;
}

.fs-bxh .fs-bhx-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -4.5px;
}

.fs-bxh .fs-bhx-main li {
    width: 33.3333333333%;
    margin: 0 4.5px;
}

.fs-bxh .fs-bhx-main li a img {
    border-radius: 6px;
    -webkit-box-shadow: 0 0 3px 0 #dee2e6;
    box-shadow: 0 0 3px 0 #d9d9d9;
    border: solid 0 #000;
    background-color: rgba(0, 0, 0, 0);
}

/* =====footer============= */
.footer {
    background-color: #f9f4f4;

}

.footer .footer-contact {
    display: flex;
    padding: 25px 0 15px;
}

.footer .contact-item {
    padding: 0 12px;
    width: 25%;
}

.footer .contact-item ul {
    padding-left: 0;
    min-height: 210px;
}



.footer .contact-item li a {
    text-decoration: none;
    color: #004ee9;
    font-size: 14px;
}

.footer .contact-item .trtit {
    margin: 0;
    font-size: 14px;
}

.footer .contact-item .ftr2 p {
    color: red;
    font-weight: 500;
    font-size: 18px;
}

.footer .contact-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer .contact-icon .icon-item {
    margin-right: 2px;
}

.footer .contact-icon .icon-item .cth1 {
    max-width: 40px;
}

.footer .contact-icon .icon-item .cth2 {
    max-width: 132px;
}

.footer .contact-icon .icon-item .cth3 {
    max-width: 56px;
}

.footer .contact-item li a:hover {
    color: #a6a6e9;
}

.footer .support-pay {
    display: flex;

}

.footer .pay-item {
    margin-right: 2px;
}

.footer .support-pay img {
    max-width: 46px;
}

.fs-bxh span {
    display: inline-block;
    max-height: 115px;
}

@media only screen and (max-width: 992px){
    .col-mb3 {
        width: calc(100% / 4) !important;
    }

    .home-page {
        display: none;
    }

    .nav {
        display: none;
    }

    .logo-item img {
        width: 70px;
    }

    .input-box input[type='text'] {
        font-size: 10px;
    }

    .input-box-search {
        display: none;
        padding: 6px 13px;
        padding-left: 6px;
        padding-right: 18px;

        margin-left: 0px;
        left: 79%;
        font-size: 16px;

    }

    .market a i {
        font-size: 20px;
    }

    .register {
        width: 30%;
    }

    .register-inner {

        font-size: 10px;
        padding: 8px 3px;
    }

    .g-search {
        width: 35%;

    }

    .menu {
        line-height: 30px;
        width: calc(100% / 5 - 5px) !important;


    }

    .item-product {
        font-size: 8px;
    }


    .cate-box .picture {
        max-width: 50px;
        width: 100%;
        max-height: 50px;
        height: 100%;
    }

    .cate-box .picture img {
        max-width: 45px;
    }

    .cate-box .cate-item-name {
        font-size: 12px;

    }

    .price {
        flex-direction: column;
    }

    .promotion-main {
        width: 100% !important;
        margin-bottom: 20px;

    }

    .promotion-mini {
        width: 100% !important;
        margin: 0;
    }

    .promotion-mini-item {
        margin-bottom: 20px;
        height: 300px;
    }

    .hot-promotion-inner {
        flex-direction: column;
    }

    .promotion-text .hot-promotion-title {
        font-size: 18px;
        padding: 0 10px;
    }

    .section-hot .mini-product-title {
        font-size: 12px;
    }

    .prd-sale .tittle {
        font-size: 16px;
    }

    .mini-product-content p {
        font-size: 10px;
    }

    .promotion-main a img {
        max-width: 150px;
    }

    /* ------------------------- */
    .badge-warning,
    .badge-primary {
        padding: 2px 0px;
        font-size: 12px;
        border-radius: 5px;
    }

    .cart-item .item-name {
        font-size: 14px;
    }

    .swiper-slide .price-sale,
    .cart-item .price-sale {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .cart-item .price-strike {
        margin-left: 3px;
    }

    .cart-product span {
        font-size: 12px;
    }

    .footer .contact-item .trtit,
    .nav li {
        display: none;
    }

    .swiper-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .swiper-slide {
        width: calc(100% / 2 - 10px);
    }
}
@media only screen and (max-width: 576px) 
{

        .col-mb3 {
            width: calc(100% / 4) !important;
        }

        .home-page {
            display: none;
        }

        .nav {
            display: none;
        }

        .logo-item img {
            width: 70px;
        }

        .input-box input[type='text'] {
            font-size: 10px;
        }

        .input-box-search {
            display: none;
            padding: 6px 13px;
            padding-left: 6px;
            padding-right: 18px;

            margin-left: 0px;
            left: 79%;
            font-size: 16px;

        }

        .market a i {
            font-size: 20px;
        }

        .register {
            width: 30%;
        }

        .register-inner {

            font-size: 10px;
            padding: 8px 3px;
        }

        .g-search {
            width: 35%;

        }

        .menu {
            line-height: 30px;
            width: calc(100% / 5 - 5px) !important;


        }

        .item-product {
            font-size: 8px;
        }


        .cate-box .picture {
            max-width: 50px;
            width: 100%;
            max-height: 50px;
            height: 100%;
        }

        .cate-box .picture img {
            max-width: 45px;
        }

        .cate-box .cate-item-name {
            font-size: 12px;

        }

        .price {
            flex-direction: column;
        }

        .promotion-main {
            width: 100% !important;
            margin-bottom: 20px;

        }

        .promotion-mini {
            width: 100% !important;
            margin: 0;
        }

        .promotion-mini-item {
            margin-bottom: 20px;
            height: 300px;
        }

        .hot-promotion-inner {
            flex-direction: column;
        }

        .promotion-text .hot-promotion-title {
            font-size: 18px;
            padding: 0 10px;
        }

        .section-hot .mini-product-title {
            font-size: 12px;
        }

        .prd-sale .tittle {
            font-size: 16px;
        }

        .mini-product-content p {
            font-size: 10px;
        }

        .promotion-main a img {
            max-width: 150px;
        }

        /* ------------------------- */
        .badge-warning,
        .badge-primary {
            padding: 2px 0px;
            font-size: 12px;
            border-radius: 5px;
        }

        .cart-item .item-name {
            font-size: 14px;
        }

        .swiper-slide .price-sale,
        .cart-item .price-sale {
            font-size: 14px;
            margin-bottom: 5px;
        }

        .cart-item .price-strike {
            margin-left: 3px;
        }

        .cart-product span {
            font-size: 12px;
        }

        .footer .contact-item .trtit,
        .nav li {
            display: none;
        }

        .swiper-wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .swiper-slide {
            width: calc(100% / 2 - 10px);
        }

        .cart-btn {
            display: none !important;
        }

        /* ======footer============ */
        .footer .contact-item ul a {
            font-size: 12px;
        }

        .footer .contact-item .ftr2 p {
            font-size: 13px;
        }

        .footer .contact-item ul {
            display: flex !important;
            flex-wrap: wrap;
            min-height: 20px;
        }

        .footer .contact-item ul li {
            width: 50%;
        }

        .footer .contact-item {
            width: 100%;
        }

        .footer .contact-icon .icon-item {
            margin: 0;
            width: 50%;
            padding-bottom: 2px;
        }

        .footer-contact {
            display: table !important;
        }

        .footer .pay-item {
            width: 50%;
            margin: 0;
        }

        .contact-title {
            text-align: center;
            padding-bottom: 5px;
            font-weight: 700;
            color: red;
        }

        /* ============= */

        .cart .cart-item {
            width: calc(100% / 2 - 5px);
        }

        .cart-item:nth-child(3n+ 3) {
            margin-right: 10px;
        }

        .cart-item:nth-child(2n + 2) {
            margin-right: 0px;
        }

        /* ========== */
        .fs-bxh .fs-bhx-main,
        .discount-swiper,
        .service-list {
            flex-direction: column;
        }

        .service-list .service-item {
            min-height: 100px;
            width: 100%;
        }

        .service .service-item:not(:last-child) {
            margin-bottom: 12px;
        }

        .discount .tittle,
        .service .tittle {
            font-size: 16px;
        }

        .discount-slide:not(:last-child) {
            margin-bottom: 12px;
        }

        .fs-bxh .fs-bhx-main li a img {
            margin-bottom: 12px;
            min-height: 100px;

        }

        .fs-bxh .fs-bhx-main li {
            width: 100%;
        }

        .banner img {
            max-width: 100%;
        }

        .swiper-product_img-promo .swiper-product_text {
            width: 95%;
        }
        .cart-item .cart-img{
            max-width: 105px;
        }
    }
